body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:438px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u982 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:108px;
}
#u983 {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:108px;
}
#u984 {
  position:absolute;
  left:2px;
  top:46px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:666px;
}
#u985 {
  position:absolute;
  left:0px;
  top:108px;
  width:31px;
  height:666px;
}
#u986 {
  position:absolute;
  left:2px;
  top:325px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:666px;
}
#u987 {
  position:absolute;
  left:405px;
  top:108px;
  width:33px;
  height:666px;
}
#u988 {
  position:absolute;
  left:2px;
  top:325px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:112px;
}
#u989 {
  position:absolute;
  left:0px;
  top:774px;
  width:438px;
  height:112px;
}
#u990 {
  position:absolute;
  left:2px;
  top:48px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u991 {
  position:absolute;
  left:0px;
  top:886px;
  width:436px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u992 {
  position:absolute;
  left:32px;
  top:108px;
  width:375px;
  height:28px;
}
#u993 {
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u994 {
  position:absolute;
  left:29px;
  top:186px;
}
#u994_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u994_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u995 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u996 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:306px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u997 {
  position:absolute;
  left:1px;
  top:0px;
  width:375px;
  height:306px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u998 {
  position:absolute;
  left:20px;
  top:20px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:58px;
  background:inherit;
  background-color:rgba(102, 255, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-bottom:0px;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:28px;
}
#u999 {
  position:absolute;
  left:29px;
  top:248px;
  width:160px;
  height:58px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:28px;
}
#u999_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:58px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-right:0px;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:28px;
}
#u999.mouseDown {
}
#u1000 {
  position:absolute;
  left:0px;
  top:15px;
  width:160px;
  word-wrap:break-word;
}
#u1001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:58px;
  background:inherit;
  background-color:rgba(52, 120, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:28px;
}
#u1001 {
  position:absolute;
  left:192px;
  top:248px;
  width:162px;
  height:58px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:28px;
}
#u1001_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:58px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:28px;
}
#u1001.mouseDown {
}
#u1002 {
  position:absolute;
  left:0px;
  top:15px;
  width:162px;
  word-wrap:break-word;
}
#u1003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1003 {
  position:absolute;
  left:29px;
  top:218px;
  width:126px;
  height:23px;
}
#u1004 {
  position:absolute;
  left:2px;
  top:4px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1005 {
  position:absolute;
  left:297px;
  top:218px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1006 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
  line-height:20px;
}
#u1007 {
  position:absolute;
  left:1px;
  top:69px;
  width:375px;
  height:35px;
  color:#333333;
  line-height:20px;
}
#u1008 {
  position:absolute;
  left:10px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
#u1009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#333333;
  line-height:20px;
}
#u1009 {
  position:absolute;
  left:1px;
  top:0px;
  width:375px;
  height:69px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#333333;
  line-height:20px;
}
#u1010 {
  position:absolute;
  left:10px;
  top:30px;
  width:355px;
  word-wrap:break-word;
}
#u1011 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1012 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u1013 {
  position:absolute;
  left:29px;
  top:106px;
  width:325px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u1014 {
  position:absolute;
  left:20px;
  top:15px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1015 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1016 {
  position:absolute;
  left:39px;
  top:116px;
  width:276px;
  height:28px;
}
#u1016_input {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:28px;
  background-color:transparent;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1017 {
  position:absolute;
  left:325px;
  top:121px;
  width:20px;
  height:20px;
  opacity:0.45;
}
#u1018 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1019 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1020 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u1021 {
  position:absolute;
  left:29px;
  top:164px;
  width:325px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u1022 {
  position:absolute;
  left:20px;
  top:15px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1023 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1024 {
  position:absolute;
  left:39px;
  top:173px;
  width:276px;
  height:28px;
}
#u1024_input {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:28px;
  background-color:transparent;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1025 {
  position:absolute;
  left:325px;
  top:177px;
  width:20px;
  height:20px;
  opacity:0.45;
}
#u1026 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u994_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u994_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1027 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1028 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:366px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u1029 {
  position:absolute;
  left:1px;
  top:0px;
  width:375px;
  height:366px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u1030 {
  position:absolute;
  left:20px;
  top:20px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:58px;
  background:inherit;
  background-color:rgba(102, 255, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:28px;
}
#u1031 {
  position:absolute;
  left:29px;
  top:308px;
  width:325px;
  height:58px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:28px;
}
#u1031_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:58px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-right:0px;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:28px;
}
#u1031.mouseDown {
}
#u1032 {
  position:absolute;
  left:0px;
  top:15px;
  width:325px;
  word-wrap:break-word;
}
#u1033 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1034 {
  position:absolute;
  left:29px;
  top:278px;
  width:160px;
  height:23px;
}
#u1035 {
  position:absolute;
  left:2px;
  top:4px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1036 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#3478F7;
}
#u1037 {
  position:absolute;
  left:297px;
  top:280px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#3478F7;
}
#u1038 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1039 {
  position:absolute;
  left:276px;
  top:278px;
  width:78px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
  line-height:20px;
}
#u1040 {
  position:absolute;
  left:1px;
  top:69px;
  width:375px;
  height:35px;
  color:#333333;
  line-height:20px;
}
#u1041 {
  position:absolute;
  left:10px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
#u1042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#333333;
  line-height:20px;
}
#u1042 {
  position:absolute;
  left:1px;
  top:0px;
  width:375px;
  height:69px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#333333;
  line-height:20px;
}
#u1043 {
  position:absolute;
  left:10px;
  top:30px;
  width:355px;
  word-wrap:break-word;
}
#u1044 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1045 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u1046 {
  position:absolute;
  left:29px;
  top:106px;
  width:325px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u1047 {
  position:absolute;
  left:20px;
  top:15px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1048 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1049 {
  position:absolute;
  left:39px;
  top:116px;
  width:276px;
  height:28px;
}
#u1049_input {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:28px;
  background-color:transparent;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1050 {
  position:absolute;
  left:325px;
  top:121px;
  width:20px;
  height:20px;
  opacity:0.45;
}
#u1051 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1052 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1053 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u1054 {
  position:absolute;
  left:29px;
  top:164px;
  width:325px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u1055 {
  position:absolute;
  left:20px;
  top:15px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1056 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1057 {
  position:absolute;
  left:39px;
  top:173px;
  width:276px;
  height:28px;
}
#u1057_input {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:28px;
  background-color:transparent;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1058 {
  position:absolute;
  left:325px;
  top:177px;
  width:20px;
  height:20px;
  opacity:0.45;
}
#u1059 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1060 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1061 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u1062 {
  position:absolute;
  left:29px;
  top:220px;
  width:325px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u1063 {
  position:absolute;
  left:20px;
  top:15px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1064 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1065 {
  position:absolute;
  left:39px;
  top:229px;
  width:276px;
  height:28px;
}
#u1065_input {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:28px;
  background-color:transparent;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1066 {
  position:absolute;
  left:325px;
  top:233px;
  width:20px;
  height:20px;
  opacity:0.45;
}
#u1067 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1068 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1069 {
  position:absolute;
  left:30px;
  top:136px;
  width:374px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1070 {
  position:absolute;
  left:2px;
  top:10px;
  width:370px;
  word-wrap:break-word;
}
#u1071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1071 {
  position:absolute;
  left:38px;
  top:146px;
  width:20px;
  height:20px;
}
#u1072 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1073 {
  position:absolute;
  left:30px;
  top:136px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
}
#u1074 {
  position:absolute;
  left:170px;
  top:742px;
  width:98px;
  height:33px;
  text-decoration:underline;
}
#u1075 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
